html, body {
    margin: 0;
    width: 100%;
    background: whitesmoke;
}
.main-container {
    width: 90%;
    height: 780px;
    position: relative;
    margin: 5em;
    text-align: center;

    background: whitesmoke;
    border-radius: 100px;
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.6),
        10px 10px 50px rgba(0, 0, 0, 0.3)

}


h1 {
    width: 100%;
    font-size: 8vw;
    position: absolute;
    color: whitesmoke;
    text-shadow: -8px -8px 12px rgba(255, 255, 255, 0.5),
        8px 8px 12px rgba(44, 52, 56, 0.2)
}

#clock {
    position: absolute;
    width: 100%;
    font-size: 9vw;
    margin-top: 20%;
    color: whitesmoke;
    text-shadow: -8px -8px 12px rgba(255, 255, 255, 0.5),
        8px 8px 12px rgba(44, 52, 56, 0.2)
}