* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e8ecf2;
}

.container {
    margin: auto;
    align-items: center;
    padding-top: 2em;
    position: relative;
    width: 80%;
}

.buttons {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

#add-button {
    background: #e8ecf2;
    margin-left: 20px;
    color: #73787d;
    border-radius: 9999px;
    border: none;
    transition: all;
    height: 50px;
    width: 175px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
        5px 5px 10px rgba(0, 0, 0, 0.25);
}

#add-button:hover {
    color: black;
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
        1px 1px 5px rgba(0, 0, 0, 0.3),
        inset -2px -2px 5px rgba(255, 255, 255, 0.6),
        inset 2px 2px 5px rgba(0, 0, 0, 0.30);
}

.clock-card {
    width: 180px;
    height: 180px;
    color: #73787d;
    background: #e8ecf2;
    float: left;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
        5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: 17px;
}

output {
    font-size: 3vh;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.clock-card p {
    text-align: center;
    margin-top: 55px;
}
.clock-card:hover {
    color: black;
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
        1px 1px 5px rgba(0, 0, 0, 0.3),
        inset -2px -2px 5px rgba(255, 255, 255, 0.6),
        inset 2px 2px 5px rgba(0, 0, 0, 0.30);
}


select {
    text-align: center;
    color: #73787d;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: #e8ecf2;
    cursor: pointer;

    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
        5px 5px 10px rgba(0, 0, 0, 0.25);
}

.user-clock {
    text-align: center;
    margin-bottom: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.8),
        10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

#liveClock {
    font-size: 8vh;
}